/*
	Dimension by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Main */

#main article {
  opacity: 1 !important;
  margin: 4rem 0 0 0;
}

#bg:after {
  background-image: url("http://res.cloudinary.com/runar-kristoffersen/image/upload/w_800,q_auto/v1511014038/bronnoy.jpg");
}
